body {
	font-family: 'Comfortaa', cursive;
}

.main {
	height: 650px;
	width: 100%;
	background: url(../img/bg.jpg) center no-repeat;
	background-size: cover;

	&:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(58, 66, 75, 0.6);
	z-index: 2;
	}
}